{% extends "layout.html" %}
{% block content %}

<section>
    <h3 class="add-margin">About Me</h3>
    <p>For over 10 years I have been working in the hopsitality sector across the world. I had been wanting to change my career path and with the extra time I suddenly had thanks to repeated Covid-19 lockdowns I started work on my career as a Software Engineer.</p>
    <p>I began taking the CS50 course from Harvard.edu in 2020 as well as studying databases, cloud technology and agile frameworks.</p>
    <p>Thanks to these courses I am now proficient in Python (Flask), HTML, Javascript (React.js), SQL (PostgreSQL, SQLite) and have hands on experience in developing and deploying RESTful APIs through AWS.</p>
    <p>You can check out some of my work by clicking the GitHub logo below</p>
    <centre><a href="https://github.com/AlexNJ91" target="_blank"><img class="social-icons" src="static/icons/github.png" alt="github icon"></a></centre>
</section>

{% endblock %}
