{% extends "layout.html" %}
{% block content %}

<section>
    <h3 class="add-margin">Experience</h3>
    <h4>Business Development & Brand Ambassador @ Dillon Bass, Irish Distillers</h4>
    <p><i>2018 (Current Employer)</i></p>
    <li>Responsible for working with the sales team in hitting sales targets in order to deliver the maximum profit for the company.</li>
    <li>Used Excel, Salesforce and SAP to track KPIs and monitor contract targets.</li>
    <li>Produced copy for the marketing team for menus and internal publications as well as using Wordpress to build and mantain a POS site.</li>
    <h4 class="add-margin">Venue Manager @ The Clover Group</h4>
    <p><i>2017-2018</i></p>
    <li>Responsible for managing the team of bartenders and servers and ensuring they hit their targets for each week</li>
    <li>Increased revenue through diverse marketing strategies and the use of analytics to improve performance on social media</li>
    <h4 class="add-margin">English Language Teacher @ South China Normal University Affiliated High School</h4>
    <p><i>2014-2016</i></p>
    <li>Planned the curriculum each year and assisted the English department in improving their standards of English</li>
    <li>Co-ordinated events for the students and teachers to foster cultural and language exchange</li>
    <h4 class="add-margin">Copywriting Executive @ CityWeekend</h4>
    <p><i>2014-2016</i></p>
    <li>Producing digital content for affiliated webpages and using analytics to track the performance of said content</li>
    <li>Liaised with clients and interviewess for marketing opportunities and potential content</li>
</section>

{% endblock %}
